<!DOCTYPE html>
<html>
<head>
    <title>Music Generation using LSTM</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mystyle.css') }}"/>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.jpg') }}">
</head>


<body>
    <div class="center-container">
        <h1>
            <span class="iconify" data-icon="mdi:cricket"></span>
            Music Generation using LSTM
        </h1>
        <h5>Author: Nohan Joemon</h5>
        <h5>Topics: RNN,LSTM</h5>
            <h2>
                About the project:
            </h2>
            <div style='display:flex'>
                <img class="mainimage" src="{{ url_for('static', filename='mainimg.jpg') }}">
                <div>
                    <p class="about">
                        &nbsp;&nbsp; Music is an art and a universal language. It is a collection of notes of different frequencies.
                        In this project, I have tried to develop a deep learning model that generates music on its own. 
                        The model was trained using a set of 65 tunes(in ABC notation) taken from the  Nottingham Music Database. I have taken some parts of
                        the model development code from <a target="_blank" href = "https://github.com/analytics-club-iitm/MiniProject-Music-Generation">here</a>.
                        The preprocessing step consisted of removing the metadata and extracting inputs and outputs from the database. I have used a
                        series of LSTM layers along with Dropout. In the following section, you can use the model to generate music of a specific sequence length.
                        Please download the music and listen on your favourite music player!!
                        <br><br>
                        
                        The codes for training and deployment are attached below:
                        
                        <br>
                    </p>
                    <div style="text-align: center;margin-top:15px;" >
                        
                        <a class="github" style="  text-decoration-line: None;" target="_blank" href="https://github.com/NohanJoemon/Music-generation-using-LSTM"><i style="font-size:20px;" class="fa fa-github"></i>  Github link </a>
                    </div>
                </div>
               
            </div>

        
    
            <h2>
                Test using your inputs :
            </h2>
                <form action="/" method="POST">
                    <div style="text-align:center;display:flex;justify-content:center;">
                        <!-- Sequence Length -->
                        <label for="seqlength">Enter the sequence length of the music:</label>
                        {% if selected[0] == None %}
                        <input id="seqlength" name="seqlength"></input>     
                        {%else%}
                        <input id="seqlength" name="seqlength" value="{{selected[0]}}"></input>     
                        {%endif%}
                    </div>
                    
                    <center><input class="submit-btn" type="submit" value="Generate music"></center>
                </form>
                
            {% if pred %}
            <div>
                <h2>
                    Generated music: 
                </h2>
                <br>
                    <a href="{{ url_for('static', filename='music.mid') }}" download>Download</a>
                    </a>
                
            </div>
            {%endif%}
    </div>
    


</body>


</html>